<?xml version="1.0"?>
<configuration>

	<components>

		<component id="Analizador"
			type="AnalizadorSql.Analizador, AnalizadorSql" />

		<component id="Notificador"
			type="AnalizadorSql.Notificador, AnalizadorSql" />

		<component id="Reglas.CantidadMinimaDeLineas"
			service="AnalizadorSql.IReglaAnalisis, AnalizadorSql"
			type="AnalizadorSql.Reglas.CantidadMinimaDeLineas, AnalizadorSql" />

		<component id="Reglas.LongitudMaximaDeLinea"
			service="AnalizadorSql.IReglaAnalisis, AnalizadorSql"
			type="AnalizadorSql.Reglas.LongitudMaximaDeLinea, AnalizadorSql">
			<parameters>
				<nivel>Maximo</nivel>
			</parameters>
		</component>
		
	</components>

</configuration>